body {
    background-color: lavender;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.2vw;
    margin: 0px;
}

#logo {
    margin: 0px;
    padding: 8px;
    /* box-shadow: 8px 8px 10px 3px darkorange; */
    width: 13%;
    text-shadow: 
    1px 1px 0px black,
    -1px 1px 0px black,
    1px -1px 0px black,
    -1px -1px 0px black;
}

ul {
    margin: 0px;
}

body > header {
    background-color: lightskyblue;
    color: rgb(255, 255, 255);
    display: flex;
    height: 12vh;
    align-items: center;
    justify-content: space-around;
}

#nav-ul {
    display: flex;
}

#nav-ul > li {
    padding: 8px;
    margin: 16px;
}

body > header > nav > ul {
    list-style: none;
    text-decoration: none;
}

.navbutton {
    color: white;
    text-decoration: none;
    padding: 12px;
    text-shadow: 
    0.5px 0.5px 0px lightslategray,
    -0.5px 0.5px 0px lightslategray,
    0.5px -0.5px 0px lightslategray,
    -0.5px -0.5px 0px lightslategrey;
}

body > main article {
    width: 80%;
    margin: auto;
}

#main-content {
    display: flex;
    justify-content: space-around;
}

#main-content > div {
    width: 80%;
}

form {
    text-align: center;
}

#about { text-align: center;
    color: white;
    text-shadow: 
    1px 1px 0px black,
    -1px 1px 0px black,
    1px -1px 0px black,
    -1px -1px 0px black;
}

#notif { text-align: center;
}

body > main article {
    width: 80%;
    margin: auto;
}

.next-to {
    display: flex;
    justify-content: space-around;
}

#sidebar {
    display: flex;
    justify-content: space-around;
}

#sidebar > div {
    width: 80%;
}

body > footer {
    background-color: lightskyblue;
    display: flex;
}

img{
    height: 250px;
    width: 350px;
}

#footer-ul {
    display: flex;
    list-style: none;
}

#footer-ul > div > li {
    margin: 12px;
}

#footer-ul > div > li > a {
    color: white;
    text-decoration: none;
}

footer > section > nav > ul > li {
    text-align: center;
}